{
    "ecmaFeatures": {
        "jsx": true,
        "modules": true,
        "experimentalObjectRestSpread": true
    },
    "env": {
        "es6": true,
        "node": true,
        "browser": true
    },
    "globals": {
      "__DEV__": true
    },
    "extends": ["eslint:recommended", "plugin:react/recommended"],
    "parser": "babel-eslint",
    "plugins": [
        "react"
    ],
    "rules": {
      "no-console": 0
    },
    "settings": {
        "react": {
            "pragma": "React"
        }
    }
}
